######## ENGINE
Flask>=1.1.2
Flask-SQLAlchemy>=2.4.4
Flask-Migrate>=2.5.3
Flask-Login>=0.5.0
Flask-WTF>=0.14.3
Flask-Caching>=1.9.0

######## WEBSERVER
gunicorn>=20.0.4

######## DB???
#PyMySQL>=0.10.1

####### CONFIG
environs>=8.0.0
pyyaml>=5.3.1

####### HTTP
feedparser>=6.0.2
requests>=2.24.0
requests-futures>=1.0.0

####### UX
humanize>=3.1.0
bleach>=3.2.1