{% extends "base.html" %}


{% block content %}
<div class="ui center aligned text container">
    <div class="ui centered vertical segment">
        <h2 class="ui header">
          <img src="{{channel.avatar}}" class="ui circular image">
          {{channel.name}}
        </h2>
    </div>
    <div class="ui vertical segment">
        <p>{{channel.description}}</p>
    </div>
    <div class="ui vertical segment">
          <div class="ui tiny statistic">
            <div class="value">
                <i class="user icon"></i> {{channel.sub_count}}
            </div>
            <div class="label">
               Followers
            </div>
          </div>
{% if not channel.invalid and current_user.is_authenticated %}
    {% if not channel.id in current_user.yt_followed_cids %}
        <form action="{{ url_for('ytfollow', channelId=channel.id) }}" method="post">
            <button type="submit" value="Submit" class="ui red button">
                <i class="user icon"></i>
                Suscribe
            </button>
        </form>
    {% else %}
        <form action="{{ url_for('ytunfollow', channelId=channel.id) }}" method="post">
            <button type="submit" value="Submit" class="ui red active button">
                <i class="user icon"></i>
                Unsuscribe
            </button>
        </form>
    {% endif %}
{% endif %}
    </div>
</div>

    <br>
    <br>
    {% if videos|length == 0 %}
        {% include '_empty_feed.html' %}
    {% else %}
    <div class="ui centered cards">
        {% for video in videos %}
            {% include '_video_item.html' %}
        {% endfor %}
    </div>
    {% endif %}

    <br>
    <div class="ui center aligned text container">
        {% if prev_page %}
        <a href="{{prev_page}}"> <button class="ui left attached button"><i class="angle red left icon"></i></button> </a>
        {% endif %}
        {% if next_page %}
        <a href="{{next_page}}"> <button class="right attached ui button"><i class="angle red right icon"></i></button></a>
        {% endif %}
    </div>
    <br>
{% endblock %}