{% macro submit_custom(url, method='POST', icon=None, class='') %}
    <form action="{{url}}" method="{{method}}">
        <button type="submit" value="" class="ui {{class}} button">
            {% if icon %}
                <i class="{{icon}} icon"></i>
            {% endif %}
            {{ caller() }}
        </button>
    </form>
{% endmacro %}
{% macro submit(url, method='POST', icon=None, class='', label='') %}
    <form action="{{url}}" method="{{method}}">
        <button type="submit" value="" class="ui {{class}} button">
            {% if icon %}
                <i class="{{icon}} icon"></i>
            {% endif %}
            {{ label }}
        </button>
    </form>
{% endmacro %}

{% macro admin_restricted_mode(obj, what='', user=None, show_admin_actions=None) %}
{% if user.is_admin and show_admin_actions and not obj.invalid %}
    <div class="ui orange inverted raised horizontal compact segments">
    <div class="ui orange inverted raised segment">
    {{ submit(url_for('yt_admin_action', what=what, where='allowed', action='remove' if obj.is_allowed else 'add', id=obj.id),
                   class='' if obj.is_allowed else 'green', icon='check circle outline',
                   label='Unallow' if obj.is_allowed else 'Allow') }}
    </div>
    {% if what=='channel' %}
        <div class="ui orange inverted raised segment">
        {{ submit(url_for('yt_admin_action', what=what, where='blocked', action='remove' if obj.is_blocked else 'add', id=obj.id),
            class='' if obj.is_blocked else 'black', icon='ban',
            label='Unblock' if obj.is_blocked else 'Block') }}
        </div>
    {% endif %}
    </div>
{% endif %}
{% endmacro %}

{% macro user_sub(obj, what='', user=None, subs=None) %}
{% if user.is_authenticated and not obj.invalid %}
    {{ submit(url_for('yt_user_action', what=what, action='remove' if obj.id in subs else 'add', id=obj.id), icon='user', class='red',
                    label=('Unsubscribe' if what=='channel' else 'Unfollow') if obj.id in subs else ('Subscribe' if what=='channel' else 'Follow')) }}
{% endif %}
{% endmacro %}
