<div class="ui card">
    {{ actions.admin_restricted_mode(channel, what='channel', user=current_user, show_admin_actions=show_admin_actions) }}
    <a class="image" href="{{url_for('ytchannel', cid=channel.id)}}">
        <img src="{{channel.avatar}}">
    </a>
    <div class="content">
        <a class="header" href="{{url_for('ytchannel', cid=channel.id)}}">{{channel.name}}</a>
        <div class="meta">
          <span class="right floated star">
              <i class="video icon"></i>
              {{channel.num_videos}} videos
          </span>
        </div>
    </div>
</div>

