<div class="ui card">
    <a class="image" href="{{url_for('ytvideo', v=video.id, _method='GET')}}">
        <img src="{{video.thumbnail}}">
    </a>
    <div class="content">
        <a class="header" href="{{url_for('ytvideo', v=video.id, _method='GET')}}">{{video.title}}</a>
        <div class="meta">
          <span class="right floated star">
              <i class="clock icon"></i>
              {{video.duration}}
          </span>
          <a class="break-word" href="{{url_for('ytchannel', id=video.channel_id)}}">{{channel.name}}</a>
        </div>
      </div>
      <div class="extra content">
        <span class="left floated like">
            <i class="eye icon"></i>
            {{video.views_human}}
        </span>

        {%if video.duration == "PREMIERING NOW" or video.duration == "LIVE"%}
            <span class="right floated star">
                <i class="red circle icon"></i>
                LIVE
            </span>
        {%else%}
            <span class="right floated star">
                <i class="calendar icon"></i>
                {{video.timestamp_human}}
            </span>
        {% endif %}
    </div>
</div>
