{% extends "base.html" %}

{% block content %}
<div style="padding: 1.3em;" class="ui one column centered grid">
    <a href="{{ url_for('ytfollowing') }}"><div class="ui red statistic">
        <div class="value">
            {{ count }}
        </div>
        <div class="label">
            Following
        </div>
    </div></a>
</div>


<div class="ui text container">
    <div class="ui centered cards">
        {% for channel in channels %}
        <div class="ui card">
            <a class="image" href="{{url_for('channel', id=channel.cid)}}">
                <img src="{{channel.avatar}}">
            </a>
            <div class="content">
                <a class="header" href="{{url_for('channel', id=channel.cid)}}">{{channel.name}}</a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}