{% extends "base.html" %}
{% import 'yt_actions.html' as actions %}

{% block content %}
<div class="ui center aligned text container">
    <div class="ui centered vertical segment">
        <h2 class="ui header">
          <img src="{{playlist.thumbnail}}" class="ui image">
          {{playlist.title}}
        </h2>
        <h4 class="ui header">
        <a class="ui header" href="{{url_for('ytchannel', cid=channel.id, _method='GET')}}">
          By <img src="{{channel.avatar}}" class="ui circular image">
          {{channel.name}}
        </a>
        </h4>
    </div>
    {{ actions.admin_restricted_mode(playlist, what='playlist', user=current_user, show_admin_actions=show_admin_actions) }}
    {% if playlist.description %}
    <div class="ui vertical segment">
        <p>{{playlist.description}}</p>
    </div>
    {% endif %}
    <div class="ui vertical segment">
        <div class="ui tiny statistic">
            <div class="value">
                <i class="video icon"></i> {{playlist.num_videos}}
            </div>
            <div class="label">
                Videos
            </div>
        </div>
    {{ actions.user_sub(playlist, what='playlist', user=current_user, subs=current_user.yt_followed_playlist_ids) }}
    </div>
</div>
<br>
<br>
{% if videos %}
<div class="ui centered cards">
    {% for video in videos %}
        {% include 'yt_video_item.html' %}
    {% endfor %}
</div>
{% else %}
    {% include '_empty_feed.html' %}
{% endif %}

<br>
<div class="ui center aligned text container">
    {% if prev_page %}
    <a href="{{prev_page}}"> <button class="ui left attached button"><i class="angle red left icon"></i></button> </a>
    {% endif %}
    {% if next_page %}
    <a href="{{next_page}}"> <button class="right attached ui button"><i class="angle red right icon"></i></button></a>
    {% endif %}
</div>
<br>
{% endblock %}