{% extends "base.html" %}
{% import 'yt_actions.html' as actions %}

{% block content %}
<div class="ui text container">
    <form class="item" action="{{url_for('ytsearch') }}" method="GET">
        <div class="ui action input">
            <input type="text" name="q" class="prompt" placeholder="Search..." value="{{results.query_string}}">
            <button type="submit" class="ui icon button">
                <i class="search link icon"></i>
            </button>
        </div>
        <div class="ui input">
            <select class="ui inline tiny dropdown" name="s">
                <!--<option value="">Sort by</option>-->
                <option value="0">Relevance</option>
                <option value="3">Views</option>
                <option value="2">Date</option>
                <option value="1">Rating</option>
            </select>
        </div>
    </form>
</div>

{% if results %}
<div class="ui text container">
    <br><br>
    <p>Showing results for <big>{{(results.corrected_query_string or results.query_string)|safe}}</big></p>

    {% if results.corrected_query_string %}
    <h5 class="ui header">
        Search for
        <a href="{{url_for('ytsearch', q=results.query_string, autocorrect=0, _method='GET')}}">
          {{ results.query_string }}
        </a>
        instead
    </h5>
    {% endif %}

    {% if results.suggested_query_string %}
    <h5 class="ui header">
        Did you mean
        <a href="{{url_for('ytsearch', q=results.suggested_query_string, _method='GET')}}">
          {{ results.suggested_query_markup }}
        </a>
        ?
    </h5>
    {% endif %}

    {% if results.channels %}
    <h3 class="ui dividing header">Channels</h3>
    <div class="ui cards">
        {% for channel in results.channels %}
            {% include 'yt_channel_item.html' %}
        {% endfor %}
    </div>
    {% endif %}

    {% if results.videos %}
    <h3 class="ui dividing header">Videos</h3>
    <div class="ui cards">
        {% for video in results.videos %}
            {% include 'yt_video_item.html' %}
        {% endfor %}
    </div>
    {% endif %}
    <br><br>
    <div class="ui center aligned text container">
        {% if prev_page %}
        <a href="{{prev_page}}"> <button class="ui left attached button"><i class="angle red left icon"></i></button> </a>
        {% endif %}
        {% if next_page %}
        <a href="{{next_page}}"> <button class="right attached ui button"><i class="angle red right icon"></i></button></a>
        {% endif %}
    </div>
</div>
{% endif %}

{% endblock %}