{% extends "base.html" %}

{% block content %}
<div style="padding: 1.3em;" class="ui one column centered grid">
    <div class="ui red statistic">
        <div class="value">
            {{ count }}
        </div>
        <div class="label">
            subscriptions
        </div>
    </div>
</div>


<div class="ui text container">
    <div class="ui centered cards">
        {% for channel in channels %}
            {% include 'yt_channelitem.html' %}
        {% endfor %}
    </div>
</div>

{% endblock %}