{% extends "base.html" %}

{% block content %}
<div style="padding: 1.3em;" class="ui one column centered grid">
    <div class="ui red statistic">
        <div class="value">
            {{ channels+playlists|length }}
        </div>
        <div class="label">
            subscriptions
        </div>
    </div>
</div>


<div class="ui text container">
    <div class="ui centered cards">
        {% for channel in channels %}
            {% include 'yt_channel_item.html' %}
        {% endfor %}
        {% for playlist in playlists %}
            {% include 'yt_playlist_item.html' %}
        {% endfor %}
    </div>
</div>
{% if not channels and not playlists %}
    {% include '_empty_feed.html' %}
{% endif %}

{% endblock %}